<div class="container">
    <div class="title">
      <h1>Medals per country</h1>
    </div>
    <div class="row">
      <div class="column">
        <p> Number of JOs</p>
        <p> <b> {{olympicCount}} </b> </p>
      </div>
      <div class="column">
        <p> Number of countries</p>
        <p><b> {{countryCount}} </b> </p>
      </div>
    </div>
    <div class="chart-container">
      <p-chart type="pie" [style.width]="300" [data]="data" (onDataSelect)="getCountry($event)"></p-chart>
    </div>
  
  </div>